@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EDE0D4;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.text-wr6xl{
    @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl;
}
.text-wr5xl{
    @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl;
}
.text-wr4xl{
    @apply text-2xl sm:text-3xl md:text-3xl lg:text-4xl;
}
.text-wr2xl{
    @apply text-lg sm:text-xl md:text-xl lg:text-2xl;
}
.text-wr3xl{
    @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl;
}
.text-wrXl{
    @apply text-base sm:text-lg md:text-lg lg:text-xl;
}
.text-wrLg{
    @apply text-sm sm:text-base md:text-base lg:text-lg;
}
.text-wrBase{
    @apply text-xs sm:text-sm md:text-sm lg:text-base;
}
