@import 'tailwindcss';

@theme {
  --font-Poppins: Poppins, serif;
  --font-Montserrat: Montserrat, serif;
  --font-Open-sans: Open Sans, serif;

  --color-primary: #9c6644;
  --color-secondary: #7f5539;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #EDE0D4;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

body::-webkit-scrollbar-track {
  background: #D6B08B;
}

body::-webkit-scrollbar-thumb {
  background: #A1662C;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #A1662C;
}

.scrollbar::-webkit-scrollbar {
  @apply w-1 md:w-2.5;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #D6B08B;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #A1662C;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #A1662C;
}

.landing-container{
  @apply  flex justify-center px-5 md:px-12 lg:px-16 xl:px-20 ;
}
.text-wr6xl{
    @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl;
}
.text-wr5xl{
    @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl;
}
.text-wr4xl{
    @apply text-2xl sm:text-3xl md:text-3xl lg:text-4xl;
}
.text-wr3xl{
    @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl;
}
.text-wr2xl{
  @apply text-lg sm:text-xl md:text-xl lg:text-2xl;
}
.text-wrXl{
    @apply text-base sm:text-lg md:text-lg lg:text-xl;
}
.text-wrLg{
    @apply text-sm sm:text-base md:text-base lg:text-lg;
}
.text-wrBase{
    @apply text-xs sm:text-sm md:text-sm lg:text-base;
}
.text-wrSm{
  @apply text-[0.65rem] sm:text-xs md:text-xs lg:text-sm;
}
.text-wrXs{
  @apply text-[0.60rem] sm:text-[0.65rem] md:text-[0.65rem] lg:text-xs;
}
